

<!DOCTYPE html>
<html>
<head>
	
	<style >
body{
	margin:0;
	color:#6a6f8c;
	background:#808080;
	font:600 16px/18px 'Open Sans',sans-serif;
  background-color: #f2f2f2; 
}

    .codehim-form{
        max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  20px auto 0 auto;
        padding: 25px;
        color: #414141;
            
    }
	</style>
<body>
<%= render "agents/shared/error_messages", resource: resource %>
<div style="color:white;margin-left:80%">
<% if @agent.errors.any? %>
  <% @agent.errors.messages.each do |message| %>
    <div class="message"><%= message.last.last.html_safe %></div>
  <% end %>
<% end %>
</div>
<br><br><br>
<div class="makecenter"> Agent Login</div>
<br>
<div class="codehim-form">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="group"> 
  
    <%= f.label :email ,class: "label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "cm-input"%>
 


    <%= f.label :password ,class: "label"%><br />
    <%= f.password_field :password, autocomplete: "current-password" ,class: "cm-input"%>
  
<br>
</div>
  <% if devise_mapping.rememberable? %>
 
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  
  <% end %>
  <br>
  <br>

  <div class="actions">
  <span class="right"> 
  
    <%= f.submit "Log in" ,class: "btn-login gr-bg"%>
	
     </span>
  </div>
 
<% end %>
<br><br>
 <div class= "center">
<%= render "agents/shared/links" %>
</div>

     </div>
     </body>
     </html>



	