
  <html>
<head>
  
  <style >

.login-wrap{
  margin-top:4%;
  min-height:400px;
}
.btnr{
border: none;
  background-color: ;
  padding: 14px 28px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  display: inline-block;
  margin-left:12%;
}
.label,.input{
  margin-left:4%;
}
.input{
  width:90%;
}
.btnr{
  margin-left:36%;
}
.makecenter{
  text-align:center;
  color:black;
  font-size:20px;
  margin-top:%;
}
    .codehim-form{
        max-width: 400px;
        min-height: 700px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  20px auto 0 auto;
        padding: 25px;
        color: #414141;
            
    }
    .cm-input{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%; 
        margin: 3px auto;
        border-radius: 20px;
        border: 1px solid #ccc;
        
        
    }
    .cm-input:focus{
        outline: 0;
        border-color: #f9cb81;
        
    }
    .cm-input:invalid{
        border-color: #e41b17;
        
    }
        
    .btn-login{
        display: block;
        width: 100%;
        padding: 10px;
        border: 0;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        
    }
    .btn-login:focus{
        outline: 0;
    }
    
    .btn-login:hover{
        opacity: 0.8;
        transition: .3s;
    }
    
    /* Gradient Background */
    .gr-bg{
        background: blue;
        background: linear-gradient(90deg, lightblue 0%, darkblue 55%, white 100%);   
   */ }
       /* For, tiele */
    .form-title{
        padding: 12px;
        text-align: center;
        position: relative;
    }
    .form-title h2{
        color: #5c86e1;
    }
    .form-title .user-icon{
        position: absolute;
        font-size: 42px;
        color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 45px;
        top: -60px;
        left: -45px;
}
.dd{
  color:red;
  font-size:95%;
  margin-left:75%;
}
.widths{
  width:50%;
  text-align:center;
}

  </style>

</head>
<body>
<br><br>
<div class="makecenter"> Edit Property</div>
<div >
<% if @property.errors.any? %>
  <div id="error_explanation">
    <% @property.errors.full_messages.each do |msg| %>
      <li style="font-size:15px;margin-left:10%"><%= msg %></li>
    <% end %>
  </div>
  <% end %>
</div>
<div class="codehim-form">
<%= form_for :property, url: property_path(@property), method: :patch do |f| %>
        
          <br><br>
          
      <div class="group">
      <p>
    <%= f.label :name ,class:"label"%>
    <%= f.text_field :name, class:"cm-input" %>
    </p>
    
  <p>
    <%= f.label :address ,class:"label"%>
    <%= f.text_field :address , class:"cm-input"%>
  </p>
     
  <p>
    <%= f.label :city,class:"label"%><br>
    <%= f.text_field :city, class:"cm-input"%>
  </p>
     
  <p>
  <div><span class="label" >Rent($)</span> &nbsp <span style="margin-left:47%">Bedrooms</span></div>

   <%= f.number_field :rent, class:"cm-input",style:'width:25%;margin-left:-0.1%'%>
    <%=f.text_field :bedrooms, class:"cm-input",style:'width:25%;margin-top: -12%;margin-left:70%'%> 
  </p>
  <p>
    <%= f.label :description, class:"label"%><br>
    <%= f.text_area :description, class:"cm-input" %>
  </p>

  <p>
<%= f.label :Addimages,class:"label"%>
 <%= f.file_field :images, multiple: true ,class:"cm-input"%>
 </p>
 <p class="btn-login gr-bg widths">
 <%= link_to "Delete images",delimage_path(@property)%>
 </p>
  <br>
    <%= f.submit  "Save Changes" ,class:"btn-login gr-bg"%>
 
<% end %>
  