<html>
<head>
</head>
<body>
<br><br>
<div class="makecenter"> Create Property</div>
<div >
<% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
      <h2 class="dd"><%= message%></h2> <br>
    <% end %>
  <% end %>
  </div>
<br>
<div class="codehim-form">
<%= form_for :@properties, url:'/properties'   do |f| %>
  			
        	<br><br>
          
			<div class="group">
      <p>
    <%= f.label :name ,class:"label"%><br>
    <%= f.text_field :name, class:"cm-input" %>
    </p>
    
  <p>
    <%= f.label :address ,class:"label"%><br>
    <%= f.text_field :address , class:"cm-input"%>
  </p>
     
  <p>
    <%= f.label :city,class:"label"%><br>
    <%= f.text_field :city, class:"cm-input"%>
  </p>
     
  <p>
  <div><span class="label" >Rent($)</span> &nbsp <span style="margin-left:47%">Bedrooms</span></div>

   <%= f.number_field :rent, class:"cm-input",style:'width:25%;margin-left:-0.1%'%>
    <%=f.text_field :bedrooms, class:"cm-input",style:'width:25%;margin-top: -12%;margin-left:70%'%> 
  </p>
  <p>
    <%= f.label :description, class:"label"%><br>
    <%= f.text_area :description, class:"cm-input" %>
  </p>

  <p>
<%= f.label :Addimages,class:"label"%>
 <%= f.file_field :images, multiple: true ,class:"cm-input"%>
 </p>
  <br>
    <%= f.submit  "Add properties" ,class:"btn-login gr-bg"%>
  

<% end %>
					


 
 