
	
	<style >

.label,.input{
  margin-left:-75%;
}
.input{
  width:90%;
}

    .codehim-form{
        max-width: 400px;
        min-height: 400px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  20px auto 0 auto;
        padding: 25px;
        color: #414141;
            
    }

	</style>
<body>
<div style="color:red;margin-left:80%">
<% if @company.errors.any? %>
  <% @company.errors.messages.each do |message| %>
    <div class="message"><%= message.last.last.html_safe %></div>
  <% end %>
<% end %>
</div>
<br><br><br>
<div class="makecenter"> Create Company</div>
<br>
<div class="codehim-form">

<%= form_for :@company, url: '/company' do |f| %>
<div class="form-title">
     

  <p>
    <%= f.label :name,class:"label" %><br>
    <%= f.text_field :companyname,class:"cm-input",placeholder:"Enter your Company Name" %>
  </p>
 
  <p>
    <%= f.label :Address,class:"label" %><br>
    <%= f.text_area :location,class:"cm-input",placeholder:"Enter company address" %>
  </p>
  <p>
    <%= f.label :about,class:"label"%><br>
    <%= f.text_area :about,class:"cm-input",placeholder:"Description" %>
  </p>
  <p>
    <%= f.label :Year_of_establishment,class:"label",style:'margin-left:1%'%><br>
    <%= f.number_field :year,class:"cm-input",placeholder:"    Year",style:'width:30%' %>
  </p>
  <%=f.hidden_field :flag, value: 0%>
  <p>
    <%= f.submit "Create",class:"btn-login  gr-bg" %>
  </p>
  </div>
<% end %>
</div>